@font-face { src: url("../fonts/Laqonic4FUnicase-Light.woff2") format("woff2"); font-family: "Laqonic"; font-weight: 300; font-style: normal; }

@font-face { src: url("../fonts/Laqonic4FUnicase-Medium.woff2") format("woff2"); font-family: "Laqonic"; font-weight: 500; font-style: normal; }

@font-face { src: url("../fonts/Roboto-Light.woff2") format("woff2"); font-family: "Roboto"; font-weight: 400; font-style: normal; }

 ::-webkit-scrollbar {
    width: 10px; /* в основном для вертикальных полос прокрутки */
    height: 10px; /* в основном для горизонтальных полос прокрутки */
  }
  ::-webkit-scrollbar-thumb { /* плашка-бегунок */
    background: #999;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track { /* фон */
    background: #333;
    border-radius: 20px;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 16px;
    background-color: #244c2f;
}

html, body {
    min-height: 100vh;
    overflow: hidden;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(/images/bg-default.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

body, .btn {
    font-family: Laqonic, sans-serif;
    font-weight: 500;
}

.bg-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1000px;
    height: 1039px;
    background-image: url(/images/sm-left.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
    background-size: contain;
    transition: 3s ease-in-out;
    opacity: 0;
}

.bg-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1265px;
    height: 1080px;
    background-image: url(/images/sm-right.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: contain;
    transition: 2s ease-in-out;
    opacity: 0;
}

.overflow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-image: url(/images/bg-1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    transition: 3s;
    opacity: 0;
}

.container { 
    max-width: 1920px;
    min-height: 100vh;
    position: relative; 
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 134px;
    padding: 0 61px;
}

.logo {
    width: 367px;
    transition: 3s;
    opacity: 0;
    z-index: 50;
}

.logo img {
    max-width: 100%;
}

.soc-icons {
    transition: 5s;
    opacity: 0;
    z-index: 6;
}
.soc-icons svg {
    margin-left: 10px;
    width: 56px;
    height: 56px;
    flex-shrink: 0;
}

.soc-icons a:hover {
    transition: .25s;
    opacity: .7;
}

.block-title {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 22%;
    width: 100%;
}

.t-blocks {
    position: relative;
    width: 659px;
    height: 186px;
    animation: pulse-text 1.1s ease 2;
    z-index: 50;
}

.t-background {
    width: 659px;
    max-width: 100%;
    height: 186px;
    background-image: url('../images/₸-backg.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;
    opacity: 1;
    z-index: 20;
}

.t-border {
    position: absolute;
    top: 17px;
    left: 11px;
    width: 646px;
    max-width: 100%;
    height: 170px;
    background-image: url('../images/₸-border.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 6s linear;
    opacity: 0;
}

@keyframes pulse-text {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.9;
    }
    100% {
        transform: scale(1.2);
    }
}

.line {
    margin: 0 30px 0 100px;
    width: 6px;
    height: 150px;
    background: #FFF181;
    transition: 5s;
    opacity: 0;
}

.label-title {
    width: 325px;
    color: #FFF;
    font-size: 4.6875rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: 5s;
    opacity: 0;
    z-index: 100;
}

.img-mans {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.img-left {
    position: relative;
    width: 100%;
    max-width: 916px;
    height: 100%;
    max-height: 700px;
}

.man-1 {
    position: absolute;
    bottom: 42px;
    left: 0;
    max-width: 100%;
    width: 585px;
    object-fit: cover;
    transition: 5s;
    opacity: 0;
    z-index: 0;
}

.man-2 {
    position: absolute;
    bottom: -16px;
    left: -21px;
    width: 100%;
    max-width: 916px;
    object-fit: cover;
    transition: 10s;
    opacity: 0;
    z-index: 2;
}

.img-right {
    position: relative;
    width: 100%;
    max-width: 890px;
    height: 100%;
    max-height: 700px;
}

.man-3 {
    position: absolute;
    bottom: -85px;
    right: 0;
    max-width: 100%;
    width: 637px;
    object-fit: cover;
    transition: 3s;
    opacity: 0;
    z-index: 0;
}

.man-4 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 834px;
    object-fit: cover;
    transition: 8s;
    opacity: 0;
    z-index: 2;
}

.man-mobile-2, .man-mobile-4 {
    transition: all .25s;
    display: none;
}

.man-mobile-2 {
    position: absolute;
    bottom: -16px;
    left: -21px;
    width: 100%;
    max-width: 916px;
    object-fit: cover;
    z-index: 2;
}

.man-mobile-4 {
    position: absolute;
    bottom: 155px;
    right: 0;
    width: 100%;
    max-width: 834px;
    object-fit: cover;
    z-index: 2;
}

.block-video {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 30;
}

.block-video video {
    width: 44rem;
    z-index: 30;
}
.footer {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -20px;
}

.trigger {
    cursor: pointer;
}

.bg, .btn {
    width: 700px;
    height: 118px;
    border: 0;
    border-radius: 10px;
    z-index: 40;
}

.bg {
    margin: 0 auto 30px;
    animation: pulse 1.8s ease infinite;
    background: linear-gradient(180deg, #FFFB94 0%, #B6A755 53.65%, #89742E 100%);
}

.btn {
    display: block;
    line-height: 118px;
    background: linear-gradient(180deg, #FFFB94 0%, #B6A755 53.65%, #89742E 100%);
    color: #181818;
    text-align: center;
    font-size: 5.625rem;
    text-transform: uppercase;
}

@keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    50% {
        opacity: 0.9;
    }
    100% {
        transform: scale(1.3);
    }
}

.rules {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    line-height: 47px;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 30;
}

.shadows {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.shadow-dark {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 686px;
    background-image: url('../images/vignette.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 3s;
    z-index: 4;
}

.smoke-left {
    position: absolute;
    left: -23px;
    bottom: -98px;
    max-width: 1091px;
    width: 100%;
    height: 1229px;
    background-image: url('../images/pngegg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
    opacity: 0;
    z-index: 5;
}

.smoke-right {
    position: absolute;
    right: -116px;
    bottom: -155px;
    max-width: 2030px;
    width: 100%;
    height: 966px;
    background-image: url('../images/pngegg3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
    opacity: 0;
    z-index: 5;
}

.smoke-mobile {
    display: none;
    position: absolute;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.smoke-mobile-left {
    left: 0;
    bottom: 0;
    background-image: url('../images/pngegg1.png');
    z-index: 10;
}

.text-bonus {
    position: absolute;
    width: 345px;
    height: 70px;
    background-image: url('../images/бонус200.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: .6;
}

.bonus-1 {
    bottom: 4%;
    left: 60px;
    z-index: 6;
    opacity: .2;
}

.bonus-2 {
    bottom: 20%;
    left: 380px;
    z-index: 6;
    opacity: .2;
}

.bonus-3 {
    bottom: 28%;
    left: 60px;
    z-index: 1;
}

.bonus-4 {
    bottom: 36%;
    left: 205px;
    z-index: 1;
}

.bonus-5 {
    bottom: 4%;
    right: 60px;
    z-index: 6;
    opacity: .2;
}

.bonus-6 {
    bottom: 20%;
    right: 380px;
    z-index: 6;
    opacity: .2;
}

.bonus-7 {
    bottom: 28%;
    right: 60px;
    z-index: 1;
}

.bonus-8 {
    bottom: 36%;
    right: 205px;
    z-index: 1;
}

.bonus-9, .bonus-10, .bonus-11 {
    display: none;
}

.modalBackground {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.25s ease;
	opacity: 0;
	visibility: hidden;
    cursor: pointer;
    z-index: 100;
}

.modalBackground.open {
    visibility: visible;
	opacity: 1;
}

.blur {
    background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(4px); 
    height: 100vh;
    width: 100%;
}

.modalActive {
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    padding: 20px 30px;
    max-width: 1348px;
    width: calc(100% - 40px);
    height: calc(100vh - 150px);
    max-height: 880px;
    border-radius: 10px;
    background-color: #232320;
    cursor: default;
    overflow-y: auto;
}

/* кнопочка закрытия модального окна */
.modalClose {
    position: absolute;
    right: 9px;
    top: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/* сама картинка кнопочки закрытия */
.modalClose img {
    margin: 3px;
    width: 30px;
    height: 30px;
}

.modalWindow {
    position: relative;
}

.modal-title {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 400px;
    font-size: 3.75rem;
    font-weight: 300;
    color: #fff;
}

.content-title {
    font-size: 1.875rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #E8DF82;
}

.content-text {
    padding: 20px 0;
    font-family: Roboto;
    font-size: 1.5rem;
    color: #fff;
}

.content-text p {
    padding: 5px 0;
}

.accent {
    color: #3CAC5B;
    text-transform: uppercase;
}

.list {
    margin: 20px 40px;
}

@media (min-width: 1920px) {
    .container {
        max-width: 100vw;
    }
    .t-border {
        top: 8px;
        width: 663px;
        height: 170px;
        left: 0px;
    }
}

@media (max-width: 1440px) {
    html {
        font-size: 14px;
    }

    .header {
        height: 110px;
        padding: 0 30px;
    }

    .block-title {
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
    }

    .t-blocks, .t-background {
        width: 560px;
        height: 130px;
    }

    .t-border {
        width: 558px;
        left: 2px;
        top: -3px;
        height: 146px;
    }

    .label-title {
        padding-top: 30px;
        width: 100%;
        font-size: 4rem;
        text-align: center;
    }

    .bg, .btn {
        margin-bottom: 20px;
        width: 33.463rem;
        height: 5.3625rem;
        font-size: 3.1875rem;
    }

    .line {
        display: none;
    }

    .btn {
        margin-bottom: 20px;
        width: 33.463rem;
        height: 5.3625rem;
        font-size: 3.1875rem;
        line-height: 5.3625rem;
    }

    .img-left {
        max-width: 550px;
    }

    .img-right {
        max-width: 500px;
    }

    .man-1 {
        bottom: 168px;
        width: 296px;
    }

    .man-2 {
        width: 613px;
    }

    .man-3 {
        bottom: 132px;
        width: 300px;
    }

    .man-4 {
        width: 535px;
    }

    .block-video video {
        width: 31rem;
    }

    .text-bonus {
        width: 234px;
        height: 48px;
    }

    .litle-title::before {
        display: none;
    }

    .block-video {
        transform: translate(-50%, -20%);
    }
}

@media (max-width: 1024px) {
    .header {
        height: 90px;
        padding: 0 30px;
    }

    .logo {
        width: 13.75rem;
    }

    .soc-icons svg {
        width: 2.75rem;
    }

    .text-bonus {
        width: 180px;
        height: 37px;
    }

    .title {
        font-size: 6.5rem;
    }

    .label-title {
        font-size: 2.8rem;
    }

    .litle-title {
        font-size: 4rem;
    }

    .man-1 {
        bottom: 120px;
        width: 199px;
        transition: .25s;
    }

    .man-3 {
        bottom: 84px;
        width: 207px;
        transition: .25s;
    }

    .man-mobile-2, .man-mobile-4 {
        display: block;
    }

    .man-mobile-2 {
        left: 32px;
        bottom: -55px;
        width: 289px;
        transition: 3s;
        z-index: 1;
    }

    .man-mobile-4 {
        right: 36px;
        bottom: 17px;
        width: 265px;
        transition: 3s;
        z-index: 1;
    }

    .man-2, .man-4 {
        display: none;
    }

    .block-video video {
        width: 24rem;
    }

    .bg, .btn {
        width: 24.463rem;
        height: 4.3625rem;
    }

    .btn {
        line-height: 4.3625rem;
    }

    .t-blocks, .t-background {
        width: 526px;
    }

    .t-border {
        width: 530px;
        height: 137px;
    }
}

@media (max-width: 820px) {
    .footer {
        bottom: 13%;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 30px;
    }

    .t-blocks, .t-background {
        width: 403px;
    }

    .t-border {
        width: 410px;
        height: 105px;
        top: 15px;
    } 

    .img-mans {
        bottom: -135px;
    }

    .man-mobile-2 {
        bottom: 47px;
        left: 4px;
        width: 295px;
    }

    .man-mobile-4 {
        bottom: 113px;
        right: 4px;
        width: 279px;
    }

    .man-1 {
        bottom: 256px;
        width: 190px;
    }

    .man-3 {
        bottom: 236px;
        width: 190px;
    }

    .bg, .btn {
        max-width: 500px;
        font-size: 3rem;
    }

    .logo {
        width: 19.5rem;
    }

    .logo img {
        max-width: 100%;
    }

    .modalActive {
        min-width: 500px;
    }
}

@media (max-width: 578px) {
    .header {
        padding: 0 22px;
        height: 65px;
    }

    .bg, .btn {
        max-width: 280px;
        height: 60px;
        font-size: 2.5rem;
        width: 100%;
        margin: 0 auto;
    }

    .btn {
        line-height: 60px;
    }

    .rules {
        font-size: 1.7rem;
    }

    .soc-icons svg {
        margin-left: 2px;
        width: 20.49px;
        height: 20.49px;
    }

    .t-border {
        width: 330px;
        left: 9%;
        top: 25px;
        height: 82px;
    }

    .t-background {
        margin: 0 auto;
        width: 330px;
    }

    .bg, .btn {
        max-width: 252px;
        height: 46px;
        font-size: 2.3rem;
    }

    .btn {
        line-height: 46px;
    }

    .logo {
        width: 10.3rem;
    }

    .title {
        font-size: 7rem;
    }

    .litle-title {
        font-size: 5rem;
    }

    .block-title {
        margin-top: -10px;
    }

    .label-title {
        padding-top: 0;
        font-size: 2rem;
        height: 28px;
    }

    .img-mans {
        bottom: -228px;
    }

    .man-1 {
        width: 174px;
        bottom: 321px;
        z-index: 1;
    }

    .man-3 {
        width: 180px;
        bottom: 292px;
        right: -8px;
        z-index: 1;
    }

    .man-mobile-2 {
        bottom: 142px;
        left: 4px;
        width: 275px;
        z-index: 4;
    }

    .man-mobile-4 {
        width: 244px;
        bottom: 243px;
        right: 48px;
        z-index: 2;
    }

    .bonus-1, .bonus-2, .bonus-3, .bonus-4, .bonus-5, .bonus-6, .bonus-7, .bonus-8 {
        display: none;
    }

    .smoke-left {
        left: 0;
        display: none;
    }

    .smoke-right {
        right: 0;
    }

    .bg-left, .bg-right {
        display: none;
    }

    .text-mobile {
        position: absolute;
        display: block;
        color: transparent;
        -webkit-text-stroke: 0.3px #fff;
        font-size: 2.95rem;
        font-weight: 500;
        text-decoration: none;
        line-height: 1.1rem;
        opacity: .4;
    }

    .bonus-9 {
        bottom: 68%;
        right: -39px;
        z-index: 0;
    }

    .bonus-10 {
        bottom: 72%;
        left: -44px;
        z-index: 0;
    }

    .bonus-11 {
        bottom: 57%;
        left: -31px;
        z-index: 1;
    }

    .block-video video {
        width: 23rem;
    }

    .shadow-dark {
        height: 336px;
    }

    .modalActive {
        min-width: 340px;
    }
}

@media (max-width: 425px) {
    body {
        background-image: url(/images/Bg-mobile.png);
    }

    .overflow {
        background-position: top left;
        background-image: url('../images/mobile-bg.png');
    }

    .t-blocks {
        height: 88px;
    }

    .t-border {
        width: 251px;
        height: 66px;
        top: 4px;
        left: 76px;
    }

    .t-background {
        height: 70px;
        width: 250px;
    }

    .label-title {
        margin-top: -3px;
        font-size: 2.7rem;
    }

    .block-video {
        transform: translate(-50%, -26px);
    }
    
    .footer {
        bottom: 14%;
    }

    .rules {
        line-height: 40px;
    }

    .img-mans {
        bottom: calc(100% - 737px);
    }

    .bonus-9 {
        bottom: 67%;
    }

    .block-title {
        font-size: 5rem;
    }

    .litle-title {
        font-size: 3rem;
    }

    .modal-title {
        top: 30px;
        font-size: 2.75rem;
        text-align: center;
    }

    .modalActive {
        top: 86px;
        margin-top: 0;
        border-radius: 40px 30px;
        padding: 40px;
    }

    .content-text {
        font-size: 1.1rem;
    }

    .content-title {
        font-size: 1.4rem;
        line-height: 1.3;
    }

    .btn {
        line-height: 45px;
    }

    .bg, .btn {
        width: 259px;
        height: 45px;
        font-size: 2.1rem;
    }

    .smoke-mobile {
        display: block;
        height: 415px;
    }

}

@media (max-width: 390px) {
    .t-border {
        left: 71px;
    }
}

@media (max-width: 378px) {
    .t-border {
        left: 61px;
    }
}

@media (max-width: 360px) {
    .label-title {
        text-shadow: 2px 2px 4px rgb(17, 16, 17);
    }

    .t-border {
        left: 54px;
    }

    .smoke-mobile-left {
        bottom: -50px;
        transition: 2s;
        z-index: 10;
    }

    .smoke-left {
        display: none;
    }

    .smoke-right {
        display: none;
    }

    .block-video {
        transform: translate(-50%, 24%);
    }

    .block-video video {
        width: 24rem;
    }

    .img-mans {
        bottom: 0;
    }
    .man-1 {
        bottom: 341px;
        width: 181px;
    }

    .man-3 {
        bottom: 320px;
        width: 180px;
        z-index: 4;
    }
    .man-mobile-2 {
        z-index: 5;
    }
    .man-mobile-4 {
        width: 259px;
        right: 10px;
        bottom: 236px;
        z-index: 4;
    }

    .bg, .btn {
        margin-bottom: 12px;
    }
}

@media (max-width: 320px) {

    html {
        font-size: 10px;
    }

    .title {
        font-size: 6rem;
    }

    .t-border {
        left: 34px;
    }

    .block-video video {
        width: 28rem;
    }

    .block-video {
        transform: translate(-50%, 50%);
    }

    .man-mobile-2 {
        bottom: 157px;
        right: -25px;
        width: 247px;
    }

    .man-mobile-4 {
        width: 216px;
        right: -2px;
    }

    .man-1 {
        bottom: 330px;
    }

    .bg, .btn {
        width: 229px;
        height: 45px;
    }
    
    .btn {
        line-height: 45px;
    }

    .modalActive {
        top: 70px;
        min-width: 300px;
    }

    .img-mans {
        bottom: -160px;
    }
    
}

@media (max-width: 437px) {
    @media (orientation: landscape) {

        .logo img {
            width: 9.75rem;
        }
    
        .header-soc {
            padding-bottom: 21px;
        }
    
        .soc-icons svg {
            width: 2rem;
            height: 30px;
        }
    
        .t-border {
            left: 1px;
            top: -1px;
            width: 298px;
            height: 74px;
        }
    
        .t-blocks, .t-background {
            width: 291px;
            height: 67px;
        }
    
        .block-video {
            transform: translate(-50%, -66%);
        }
        .man-1 {
            width: 140px;
        }
    
        .man-2 {
            width: 200px;
        }

        .man-3 {
            width: 142px;
        }

        .header {
            padding-top: 14px;
            padding-bottom: 0;
            height: 50px;
        }
    
        .header-logo {
            margin-top: -48px;
        }
    
        .bg, .btn {
            width: 292px;
            height: 48px;
        }
    
        .bg {
            margin: 0 auto 10px;
        }
    
        .btn {
            font-size: 2rem;
            line-height: 48px;
        }
    
        .label-title {
            padding-top: 0;
            margin-top: 0px;
            font-size: 2rem;
        }
    
        .footer {
            margin-bottom: -12px;
        }
        
        .rules {
            font-size: 26px;
        }
    
        .man-mobile-4 {
            width: 210px;
        }
    
        .man-mobile-2 {
            width: 228px;
        }

        .text-bonus {
            width: 101px;
            height: 27px;
        }
    }
}

@media (min-height: 180px) and (max-height: 425px) {
    @media (orientation: landscape) {
        .header {
            padding: 10px 20px;
            height: 50px;
        }

        .header-logo {
            margin-top: -56px;
        }

        .logo img {
            width: 9.75rem;
        }
    
        .header-soc {
            padding-bottom: 21px;
        }
    
        .soc-icons svg {
            width: 2rem;
            height: 30px;
        }
    
        .block-title {
            margin-top: -20px;
        }
    
        .t-border {
            left: 1px;
            top: -1px;
            width: 266px;
            height: 63px;
        }
    
        .t-blocks, .t-background {
            width: 240px;
            height: 60px;
        }
     
        .block-video {
            transform: translate(-50%, -66%);
        } 

        .img-mans {
            bottom: -119px;
        }

        .man-1 {
            width: 140px;
        }
    
        .man-2 {
            width: 200px;
        }

        .man-3 {
            width: 142px;
        }
    
        .bg, .btn {
            width: 220px;
            height: 30px;
        }
    
        .bg {
            margin: 0 auto;
        }
    
        .btn {
            font-size: 1.3rem;
            line-height: 30px;
        }
    
        .label-title {
            font-size: 1.7rem;
            padding-top: 0;
        }
        
        .rules {
            font-size: 17px;
        }
        
        .man-mobile-4 {
            width: 210px;
        }
    
        .man-mobile-2 {
            width: 228px;
        }

        .smoke-left {
            max-width: 624px;
            height: 244px;
        }

        .smoke-right {
            bottom: -15px;
            max-width: 441px;
            height: 254px;
        }

        .footer {
            bottom: 24%;
        }

        .text-bonus {
            width: 101px;
            height: 27px;
        }

        .bonus-3, .bonus-7 {
            z-index: 0;
    }
}

@media (max-height: 320px) {
    @media (orientation: landscape) {
        .man-mobile-4 {
            right: -5px;
        }

        .img-mans {
            bottom: -249px;
        }
    }
}

@media (min-height: 180px) and (max-height: 280px) {
    @media (orientation: landscape) {
        .img-mans {
            bottom: -224px;
        }
    }
}

@media (min-height: 130px) and (max-height: 180px) {
    @media (orientation: landscape) {

        .t-blocks {
            margin: 0;
        }

        .t-blocks, .t-background {
            width: 189px;
            height: 47px;
            margin-top: 0;
        }

        .t-border {
            left: -1px;
            top: 3px;
            width: 190px;
            height: 45px;
            line-height: 46px;
        }

        .label-title {
            font-size: 1.2rem;
            width: 160px;
            padding-top: 0;
        }

        .block-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -21px;
        }

        .header {
            height: 50px;
        }

        .header-logo {
            margin-top: -49px;
        }

        .logo {
            text-align: left;
        }

        .logo img {
            width: 7.75rem;
        }

        .block-video {
            display: none;
        }

        .bg, .btn {
            width: 180px;
            height: 26px;
        }
    
        .bg {
            margin: 0 auto;
        }
    
        .btn {
            font-size: 1.3rem;
            line-height: 26px;
        }

        .rules {
            font-size: 16px;
        }

        .img-mans {
            bottom: -225px;
        }

        .man-3 {
            bottom: 252px;
            width: 69px;
        }

        .man-1 {
            bottom: 273px;
            width: 69px;
        }

        .man-mobile-4 {
            bottom: 166px;
            width: 126px;
        }
    
        .man-mobile-2 {
            bottom: 129px;
            width: 128px;
        }

        .text-bonus {
            width: 101px;
            height: 27px;
        }
    }
}